{% extends 'base.html' %}
{% block conteudo %}

{% for num in mesa %}
    <input type="hidden" id="controleMesa" name="controleMesa" value="{{ num.mesa }}">
{% endfor %}

<header class="text-center bg-dark" id="adicionarHeader">
    <h3 class="text-white text-center">
        Mesa: <input id="nummesa" name="nummesa" type="number" class="fw-bolder bg-light text-center">
    </h3>
</header>
 
<div class="w-100 bg-dark" id="adicionarLanches">
    <div class="table-responsive">       
        <table class="table" id="adicionarTabela">
            <thead>
                <tr>
                    <th scope="col" class="bg-light" style="border-radius: 10px 0px 0px 0px; width: 120px;">LANCHES</th>
                    <th scope="col" class="text-center bg-light" style="width: 70px;">PREÇO</th>
                    <th scope="col" class="text-center bg-light">OBS</th>
                    <th scope="col" class="text-center bg-light" style="border-radius: 0px 10px 0px 0px; width: 100px;">ADD</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cardapio %}
                <tr>
                    <input id="mesa_pedido" name="mesa_pedido" type="hidden" class="fw-bolder bg-light text-center">
                    <th class="bg-light">
                        <span>{{ item.lanche }}</span>
                        <input type="hidden" id="lanche" name="lanche" value="{{ item.lanche }}">
                    </th>
                    <td class="text-center align-middle bg-light fw-bold" style="color: blue;">
                        <span> ${{ item.valor | number_format(2, ',', '.') }}</span>
                        <input type="hidden" value="{{ item.valor }}" id="valor_lanche" name="valor_lanche">
                    </td>
                    <td class="text-center align-middle bg-light" style="width: 25%;">
                        <input type="text" id="detalhesLanche" name="detalhesLanche" class="bg-light w-100">
                    </td>
                    <td class="text-center align-middle bg-light">
                        <div class="enviarLanche">
                            <input type="button" class="text-center text-white fw-bolder" value="+" style="background-color: #32cd32; border-radius: 4px; border: #228b22; width: 30px;">
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="table" id="adicionarTabela" style="margin-bottom: 20px;">
            <thead>
                <tr>
                    <th scope="col" class="bg-light">BEBIDAS</th>
                    <th scope="col" class="text-center bg-light">TAMANHO</th>
                    <th scope="col" class="text-center bg-light">OBS</th>
                    <th scope="col" class="text-center bg-light">ADD</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cardapio_bebida %}
                <tr>
                    <input id="mesa_pedido" name="mesa_pedido" type="hidden" class="fw-bolder bg-light text-center">
                    <th class="bg-light w-25">{{ item.marca }}</th>
                    <input type="hidden" id="bebida" name="bebida" value="{{ item.marca }}">
                    <td class="text-center align-middle w-40 bg-light">
                        <select class="form-select text-center bg-light fw-bolder" id="tamanho_valor">
                            {% for tamanho in tamanhoBebida %}
                            {% if tamanho.marca_bebida_id==item.id %}
                            <option value="{{ tamanho.valor }}|{{ tamanho.tamanho }}">
                                {{ tamanho.tamanho }} -
                                ${{ tamanho.valor | number_format(2, ',', '.') }}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td class="text-center align-middle bg-light" style="width: 10%;">
                        <input type="text" id="detalhesBebida" name="detalhesBebida" class="bg-light w-100">
                    </td>
                    <td class="text-center align-middle bg-light" style="width: 25%;">
                        <div class="enviarBebida">
                            <input type="button" class="text-center text-white fw-bolder" value="+" style="background-color: #32cd32; border-radius: 4px; border: #228b22; width: 30px;">
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3 id="comandaMesa" class="text-center text-white fw-bolder" style="margin-bottom: 20px;">
            Comanda:
        </h3>

        <table>
            <form action="{{ url('cadastrar') }}" method="post" class="bg-light" id="pedidos">
                <table class="table" id="tabelaPedidos">
                    <thead>
                        <tr>
                            <th scope="col" class="bg-light" style="border-radius: 10px 0px 0px 0px;">LANCHES</th>
                            <th scope="col" class="text-center bg-light">PREÇO</th>
                            <th scope="col" class="text-center bg-light">OBS</th>
                            <th scope="col" class="text-center bg-light" style="border-radius: 0px 10px 0px 0px;">EDITAR</th>
                        </tr>
                    </thead>
                    <tbody id="listaPedidos">
                        <!-- Os itens serão adicionados aqui dinamicamente -->
                    </tbody>
                    <thead>
                        <tr>
                            <th scope="col" class="bg-light">BEBIDAS</th>
                            <th scope="col" class="text-center bg-light">PREÇO</th>
                            <th scope="col" class="text-center bg-light">OBS</th>
                            <th scope="col" class="text-center bg-light">EDITAR</th>
                        </tr>
                    </thead>
                    <tbody id="listaBebidas">
                        <!-- Os itens serão adicionados aqui dinamicamente -->
                    </tbody>
                </table>
                <h3 id="totalMesa" class="text-center text-white fw-bolder" style="margin-bottom: 20px;">
                    Total:
                </h3>
                <div class="text-center mt-3">
                    <input class="btn btn-primary" type="submit" value="Enviar" id="btnDiv" style="margin-bottom: 25px;">
                    <input class="btn btn-danger" type="button" value="Cancelar" id="btnDivCancelar" style="margin-bottom: 25px;">
                </div>
            </form>
        </table>
    </div>  
</div>

<!-- Estrutura do Modal -->
<div class="modal fade" id="lancheModal" tabindex="-1" aria-labelledby="lancheModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ADICIONAR | REMOVER</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="adicionarLanches">
                    <div class="table-responsive">       
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="bg-light">
                                            INGRDIENTES
                                        </th>
                                        <th scope="col" class="text-center bg-light">PREÇO</th>
                                        <th scope="col" class="text-center bg-light">ADICIONAR</th>
                                        <th scope="col" class="text-center bg-light">RETIRAR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ingred in ingredientes %}
                                    <tr>
                                        <th class="bg-light">
                                            {{ ingred.ingrediente }}
                                            <input type="hidden" id="nome_ingredi" name="nome_ingredi" value="{{ ingred.ingrediente }}">
                                        </th>
                                        <td class="text-center align-middle bg-light fw-bold" style="color: blue;">
                                            ${{ ingred.valor | number_format(2, ',', '.') }}
                                            <input type="hidden" id="valor_ingredi" name="valor_ingredi" value="{{ ingred.valor }}">
                                        </td>
                                        <td class="text-center align-middle bg-light">
                                            <div class="enviarIngredi">
                                                <input id="btnEnvioIngredi" type="button" class="text-center text-white fw-bolder" value="+" style="background-color: #32cd32; border-radius: 4px; border: #228b22; width: 30px;">
                                            </div>
                                        </td>
                                        <td class="text-center align-middle bg-light">
                                            <div class="removerIngredi">
                                                <input id="editarLanche" type="button" class="text-center fw-bolder text-white" value="-" style="border-radius: 4px; background-color: #dc3545; border: #b02a37; width: 30px;">
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>  
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}