{% extends 'base.html' %}
{% block conteudo %}

{% for num in mesa %}
{% if num.status == 1 %}
<input type="hidden" id="controleMesa" name="controleMesa" value="{{ num.mesa }}">
{% endif %}
{% endfor %}

<header class="text-center" id="adicionarHeader" style="background-color: black;">
    <h3 class="text-white text-center">
        <select id="selectTipo" class="bg-light fw-bold text-center fs-4" style="width: auto;">
            <option class="fs-5" value="mesa">Mesa</option>
            <option class="fs-5" value="retirada">Retirada</option>
            <option class="fs-5" value="entrega">Entrega</option>
        </select>

        <input id="nummesa" name="nummesa" type="number" class="fw-bold bg-light text-center fs-4">
    </h3>
</header>

{% for item in pedido %}
    <input type="hidden" value="{{ item.id_lanche }}" id="idLancheTeste" class="idLancheTeste">
    <input type="hidden" value="{{ item.id_mesa }} " id="id_mesa" class="id_mesa">
{% endfor %}

{% for item in bebidas %}
    <input type="hidden" value="{{ item.id }}" id="idBebidaNova" class="idBebidaNova">
{% endfor %}

<div class="w-100" id="adicionarLanches" style="background-color: black;">
    <div class="table-responsive">
        <table class="table" id="adicionarTabela">
            <thead>
                <tr>
                    <th scope="col" class="bg-light" style="width: 120px;">LANCHES</th>
                    <th scope="col" class="text-center bg-light" style="width: 70px;">PREÇO</th>
                    <th scope="col" class="text-center bg-light">OBS</th>
                    <th scope="col" class="text-center bg-light" style="width: 100px;">ADD</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cardapio %}
                <tr>
                    <input id="mesa_pedido" name="mesa_pedido" type="hidden" class="fw-bolder bg-light text-center">
                    <input type="hidden" value="{{ item.id }}" name="idCardapio" id="idCardapio">

                    <th class="bg-light">
                        {% if item.lanche == "Em escolha..." %}
                        <span style="color: red; font-style: italic;">{{ item.lanche }}</span>
                        <input type="hidden" id="lanche" name="lanche" value="{{ item.lanche }}">
                        {% else %}
                        <span>{{ item.lanche }}</span>
                        <input type="hidden" id="lanche" name="lanche" value="{{ item.lanche }}">
                        {% endif %}
                    </th>
                    <td class="text-center align-middle bg-light fw-bold" style="color: blue;">
                        {% if item.lanche == "Em escolha..." %}
                            <span style="color: red; font-style: italic;"> ${{ item.valor | number_format(2, ',', '.') }}</span>
                            <input type="hidden" value="{{ item.valor }}" id="valor_lanche" name="valor_lanche">
                        {% else %}
                            <span> ${{ item.valor | number_format(2, ',', '.') }}</span>
                            <input type="hidden" value="{{ item.valor }}" id="valor_lanche" name="valor_lanche">
                        {% endif %}
                    </td>
                    <td class="text-center align-middle bg-light" style="width: 25%;">
                        <input type="text" id="detalhesLanche" name="detalhesLanche" class="bg-light w-100">
                    </td>
                    <td class="text-center align-middle bg-light">
                        <div class="enviarLanche">
                            <input type="button" class="text-center text-white fw-bolder" value="+"
                                style="background-color: darkgreen; border-radius: 2px; border: black; width: 30px;">
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="table" id="adicionarTabela" style="margin-bottom: 20px;">
            <thead>
                <tr>
                    <th scope="col" class="bg-light">BEBIDAS</th>
                    <th scope="col" class="text-center bg-light">TAMANHO</th>
                    <th scope="col" class="text-center bg-light">OBS</th>
                    <th scope="col" class="text-center bg-light">ADD</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cardapio_bebida %}
                <tr>
                    <input id="mesa_pedido" name="mesa_pedido" type="hidden" class="fw-bolder bg-light text-center">
                    <input value="{{ item.id }}" id="idMarca" name="idMarca" type="hidden">

                    <th class="bg-light w-25">{{ item.marca }}</th>
                    <input type="hidden" id="bebida" name="bebida" value="{{ item.marca }}">
                    <td class="text-center align-middle w-40 bg-light">
                        <select class="form-select text-center bg-light fw-bolder" id="tamanho_valor">
                            {% for tamanho in tamanhoBebida %}
                            {% if tamanho.marca_bebida_id==item.id %}
                            <option value="{{ tamanho.id }} | {{ tamanho.valor }}|{{ tamanho.tamanho }}">
                                {{ tamanho.tamanho }} -
                                ${{ tamanho.valor | number_format(2, ',', '.') }}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td class="text-center align-middle bg-light" style="width: 10%;">
                        <input type="text" id="detalhesBebida" name="detalhesBebida" class="bg-light w-100">
                    </td>
                    <td class="text-center align-middle bg-light" style="width: 25%;">
                        <div class="enviarBebida">
                            <input type="button" class="text-center text-white fw-bolder" value="+"
                                style="background-color: darkgreen; border-radius: 2px; border: black; width: 30px;">
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mt-3" style="margin-left: 2.5%;">
            <input class="btn fw-bolder" type="button" value="Adicionais" id="btnAbrirIngrediente"
                style="margin-bottom: 10px; background-color: blue; color: white;">
        </div>

        <table class="table" id="adicionarTabelaIngrediente">
            <thead>
                <tr>
                    <th scope="col" class="bg-light" style="width: 130px;">ADICIONAIS</th>
                    <th scope="col" class="text-center bg-light" style="width: 200px;">PREÇO</th>
                    <th scope="col" class="text-center bg-light" style="width: 100px;">ADD</th>
                    <th scope="col" class="text-center bg-light" style="width: 100px;">REMOVER</th>
                </tr>
            </thead>
            <tbody>
                {% for item in ingredientes %}
                <tr>
                    <input type="hidden" id="detalhesIngrediente" name="detalhesIngrediente">
                    <input id="mesa_pedido" name="mesa_pedido" type="hidden">
                    <input value="{{ item.id }}" id="idAdicional" name="idAdicional" type="hidden">
                    
                    <th class="bg-light">
                        <span>{{ item.ingrediente }}</span>
                        <input type="hidden" id="nomeIngrediente" name="nomeIngrediente" value="{{ item.ingrediente }}">
                    </th>
                    <td class="text-center align-middle bg-light fw-bold" style="color: blue;">
                        <span> ${{ item.valor | number_format(2, ',', '.') }}</span>
                        <input type="hidden" value="{{ item.valor }}" id="valorIngrediente" name="valorIngrediente">
                    </td>
                    <td class="text-center align-middle bg-light">
                        <div class="enviarIngrediente">
                            <input type="button" class="text-center text-white fw-bolder" value="+"
                                style="background-color: darkgreen; border-radius: 2px; border: black; width: 30px;">
                        </div>
                    </td>
                    <td class="text-center align-middle bg-light" style="width: 25%;">
                        <div class="removerIngredienteBtns">
                            <input type="button" class="text-center text-white fw-bolder" value="-"
                                style="background-color: darkred; border-radius: 2px; border: black; width: 30px;">
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3 id="comandaMesa" class="text-center text-white fw-bold" style="margin-bottom: 20px;">
            Comanda:
        </h3>

        <table>
            <form action="{{ url('cadastrar') }}" method="post" class="bg-light" id="pedidos">
                <table class="table" id="tabelaPedidos">
                    <thead>
                        <tr>
                            <th scope="col" class="bg-light">LANCHES</th>
                            <th scope="col" class="text-center bg-light">PREÇO</th>
                            <th scope="col" class="text-center bg-light">OBS</th>
                            <th scope="col" class="text-center bg-light">EDITAR</th>
                        </tr>
                    </thead>
                    <tbody id="listaPedidos">
                        <!-- Os itens serão adicionados aqui dinamicamente -->
                    </tbody>
                    <thead>
                        <tr>
                            <th scope="col" class="bg-light">BEBIDAS</th>
                            <th scope="col" class="text-center bg-light">PREÇO</th>
                            <th scope="col" class="text-center bg-light">OBS</th>
                            <th scope="col" class="text-center bg-light">EDITAR</th>
                        </tr>
                    </thead>
                    <tbody id="listaBebidas">
                        <!-- Os itens serão adicionados aqui dinamicamente -->
                    </tbody>
                </table>

                <h3 class="text-center text-white fw-bold" style="margin-bottom: 20px; margin-top: 20px;">
                    Entrega ou Retirada
                </h3>

                <input type="hidden" name="tipo_retirada" id="tipo_retirada">
                <input type="hidden" name="id_pedido" id="id_pedido">

                <table class="table" id="tabelaPedidos">
                    <thead>
                        <tr>
                            <th class="bg-light">CLIENTE</th>
                            <th class="bg-light">CONTATO</th>
                            <th class="bg-light">TIPO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control" name="cliente" placeholder="Nome" required>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="contato" placeholder="Número">
                            </td>
                            <td>
                                <select name="tipo_contato" class="form-select">
                                    <option value="whatsapp">WhatsApp</option>
                                    <option value="telefone">Telefone</option>
                                    <option value="ifood">iFood</option>
                                    <option value="aiqfome">AiqFome</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr>
                            <th class="bg-light">BAIRRO</th>
                            <th class="bg-light">ENDEREÇO</th>
                            <th class="bg-light">TAXA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center align-middle bg-light">
                                <input type="search" class="form-control" name="bairro" placeholder="Digite o bairro...">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="endereco" placeholder="Rua, número, complemento">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="taxa" placeholder="R$ 0,00">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h3 id="totalMesa" class="text-center text-white fw-bold" style="margin-bottom: 20px;">
                    Total:
                </h3>
                
                <div class="text-center mt-3">
                    <input class="btn " type="submit" value="Enviar" id="btnDiv"
                        style="margin-bottom: 25px; background-color: blue; color: #ffffff;">
                    <input class="btn" type="button" value="Cancelar" id="btnDivCancelar"
                        style="margin-bottom: 25px; background-color: darkred; color: white;">
                </div>
            </form>
        </table>
    </div>
</div>

<script src="{{ url('/templates/comanda/assets/js/adicionar.js') }}" defer></script>


{% endblock %}