{% extends 'base.html' %}

{% block conteudo %}

<body class="w-100" style="background-color: black;">

  {% set controleUltimos = 0 %}
  
  {% for pedido in pedidos %}
  {% if pedido.status == 1 %}
  {% set controleUltimos = controleUltimos + 1 %}
  {% if controleUltimos == 1 %}
  <header class="cardapio-header">
    <div class="linha-com-texto">
      <span>ULTIMOS PEDIDOS {{ dataAtual() }}</span>
    </div>
  </header>
  {% endif %}
  {% endif %}
  {% endfor %}

 
  <div class="bg-light cardapio-pedidos-abertos"
    style="width: 97%; justify-content: center; margin: auto; margin-bottom: 70px;">
    {% set mesas_exibidas = [] %}
    {% set bebidas_exibidas = [] %}
    {% set cont = 0 %}
    {% set contando = 0 %}
    {% set ultimosTres = 0 %}

    {% for pedido in pedidos %}
    {% if pedido.status == 1 and pedido.id_mesa not in mesas_exibidas %}
    {# RESET DE CONTROLE DE BEBIDAS POR MESA #}
          {% set bebidas_exibidas = [] %}
          {% set chaves_exibidas = [] %}

    {% if contando == 1 or contando == 2 %}
      <div  style="height: 15px; background-color: black;"></div>
    {% endif %}

    {% set ultimosTres = ultimosTres + 1 %}

    {% if ultimosTres <= 3 %} <div class="mesaComanda">
      <div>
        {% if pedido.mesa < 10 %} MESA: <span style="color: lime"> 0{{ pedido.mesa }}</span>
        {% else %}
        MESA: <span style="color: lime"> {{ pedido.mesa }}</span>
        {% endif %}
      </div>

      <div>
        {% if pedido.status == 1 %}
        STATUS: <span style="color: chartreuse;">ABERTA </span>
        {% else %}
        STATUS: <span style="color: red;">FECHADA</span>
        {% endif %}
      </div>

      {% set mostrado = false %}

      {% for valor in total %}
        {% if pedido.id_mesa == valor.id_mesa and not mostrado and valor.status == 1 %}
          <div>
            TOTAL: <span style="color: dodgerblue;">${{ valor.total | number_format(2, ',', '.') }}</span>
          </div>
          {% set mostrado = true %}
        {% endif %}
      {% endfor %}

      <div>
        Ás: <span style="color: lightseagreen;">{{ pedido.data_hora | date('H:i') }}</span>
      </div>
    {% endif %}
  </div>

  {% set mesas_exibidas = mesas_exibidas | merge([pedido.id_mesa]) %}
  {% set cont = 0 %}
  {% set contando = contando + 1 %}
  {% endif %}

  {% if ultimosTres <= 3 and pedido.status == 1 %} {% if pedido.nome_lanche %} <!-- Verifica se há algum lanche ou bebida
    -->
    <table style="margin: auto; margin-bottom: 10px; width: 100%;"> <!-- Ajuste nas margens e tamanho -->
      <thead>
        <tr>
          <th class="thTable" scope="col" style="padding-left: 5px;">
            {% if cont == 0 %}
            LANCHES
            {% set cont = 1 %}
            {% endif %}
          </th>

          <th class="thTable" scope="col" style="padding-left: 15px;">
            {% if cont == 1 %}
            VALOR
            {% set cont = 2 %}
            {% endif %}
          </th>

          <th class="thTable" scope="col" style="padding-left: 15px;">
            {% if cont == 2 %}
            BEBIDAS
            {% set cont = 3 %}
            {% endif %}
          </th>

          <th class="thTable" scope="col" style="padding-left: 15px;">
            {% if cont == 3 %}
            VALOR
            {% set cont = 4 %}
            {% endif %}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td style="font-weight: bolder;">
            {% if pedido.nome_lanche == 'Em escolha...' %}
              <span style="padding-left: 5px; color: gray; font-style: italic;">Em escolha...</span>
            {% elseif pedido.status == 1 %}
              <span style="padding-left: 5px; color: black;">{{ pedido.nome_lanche }}</span>
            {% endif %}

            {% for add in adicional %}
              {% if pedido.id_lanche == add.id and pedido.status == 1 %}
                <div style="margin-top: 5px; margin-left: 5px;">
                  {% if add.tipo == '+' %}
                    <span style="color: green; font-weight: bolder;">+{{ add.nome_adicional }}</span>
                  {% elseif add.tipo == '-' %}
                    <span style="color: red; font-weight: bolder;">-{{ add.nome_adicional }}</span>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </td>

          <td>
            {% set somaAdicional = 0 %}
            {% for add in adicional %}
              {% if pedido.id_lanche == add.id and pedido.status == 1 %}
                {% set somaAdicional = somaAdicional + add.valor_adicional %}
              {% endif %}
            {% endfor %}

            {% if pedido.valor_lanche != 0 and pedido.status == 1 %}
              <span style="font-weight: bolder; padding-left: 15px; color: black;">
                {{ (somaAdicional + pedido.valor_lanche) | number_format(2, ',', '.') }}
              </span>
            {% endif %}
          </td>

          <td style="font-weight: bolder; padding-left: 15px;">
            {% for bebida in bebidas %}
              {% if bebida.id_mesa == pedido.id_mesa and pedido.status == 1 %}
                {% if bebida.id not in bebidas_exibidas %}
                  <span style="color: black;">
                    {{ bebida.nome_bebida }} {{ bebida.tamanho_bebida }} <br>
                  </span>
                  {% set bebidas_exibidas = bebidas_exibidas | merge([bebida.id]) %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </td>

          <td>
                {% for bebida in bebidas %}
                  {% if bebida.id_mesa == pedido.id_mesa and pedido.status == 1 %}
                    {% if bebida.chave not in chaves_exibidas %}
                      <span style="font-weight: bolder; padding-left: 15px; color:black;">{{ bebida.valor_bebida | number_format(2, ',', '.') }}</span> <br>
                      {% set chaves_exibidas = chaves_exibidas | merge([bebida.chave]) %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </td>
        </tr>
      </tbody>
    </table>
    {% endif %}
    {% endif %}
    {% endfor %}
    </div> 
    </div>
    {% set contando = 0 %}


    <header class="cardapio-header" style="margin-top: -30px;">
    <div class="linha-com-texto">
      <span>CARDÁPIO</span>
    </div>
  </header>

  <div class="bg-light cardapio-pedidos-abertos"
    style="width: 97%; justify-content: center; margin: auto; padding: 10px; margin-bottom: 40px;">

    <!-- Cardápio de Lanches -->
    <table class="table cardapio-lanche" style="margin-top: 2px;">
      <thead class="thead-dark">
        <tr>
          <th class="cardapio-th text-white" id="cardapio-th-naovalor">LANCHES</th>
          <th class="cardapio-th text-white" id="cardapio-th-valor">VALOR</th>
        </tr>
      </thead>
      {% for cardapio in cardapioLanche %}
      <tbody>
        <tr>
          {% if cardapio.lanche != 'Em escolha...' %}
            <th class="cardapio-th-item" style="width: 600px;">
              <details class="dropdown-fake-abertos">
                <summary class="dropdown-label">{{ cardapio.lanche }}</summary>
                <ul class="dropdown-list">
                  {% for ingred in ingredientes %}
                    {% if ingred.lanche_id == cardapio.id %}
                      <span>{{ ingred.ingredientes }}</span>
                    {% endif %}
                  {% endfor %}
                </ul>
              </details>
            </th>
            
            <th id="valor_lanche" class="cardapio-th-item ">{{ cardapio.valor | number_format(2, ',', '.') }}</th>
          {% endif %}
        </tr>
      </tbody>
      {% endfor %}
    </table>

    <!-- Cardápio de Bebidas -->
    <table class="table cardapio-bebida">
      <thead class="thead-dark">
        <tr>
          <th class="cardapio-th text-white" id="cardapio-th-naovalor">BEBIDAS</th>
          <th class="cardapio-th text-white" id="cardapio-th-valor">VALOR</th>
        </tr>
      </thead>
      {% for bebidas in cardapioBebida %}
      <tbody>
        <tr>
          <th class="cardapio-th-item">{{ bebidas.marca }}</th>
          <td class="cardapio-valor">
            <select class="form-select" id="valor_lanche">
              {% for tamanho in tamanhoBebida %}
              {% if tamanho.marca_bebida_id == bebidas.id %}
              <option value="{{ tamanho.valor }}|{{ tamanho.tamanho }}">
                {{ tamanho.tamanho }} - ${{ tamanho.valor | number_format(2, ',', '.') }}
              </option>
              {% endif %}
              {% endfor %}
            </select>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>

    <!-- Cardápio de Adicionais -->
    <table class="table cardapio-adicionais">
      <thead class="thead-dark">
        <tr>
          <th class="cardapio-th  text-white" id="cardapio-th-naovalor">ADICIONAIS</th>
          <th class="cardapio-th text-white" id="cardapio-th-valor">VALOR</th>
        </tr>
      </thead>
      {% for ingredi in ingred %}
      <tbody>
        <tr>
          <th class="cardapio-th-item">{{ ingredi.ingrediente }}</th>
          <th id="valor_lanche" class="cardapio-th-item">{{ ingredi.valor | number_format(2, ',', '.') }}</th>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>

  {% if controleUltimos != 0 %}
  <header class="cardapio-header">
    <div class="linha-com-texto">
      <span>MAIS VENDIDOS {{ dataAtual() }}</span>
    </div>
  </header>

  <div class="bg-light cardapio-pedidos-abertos"
      style="width: 97%; justify-content: center; margin: auto; padding: 10px; margin-bottom: 50px;">
    <table class="table cardapio-lanche" style="margin-top: 2px;">
      <thead class="thead-dark">
        <tr>
          <th class="cardapio-th text-white" id="cardapio-th-naovalor">POSIÇÃO</th>
          <th class="cardapio-th text-white" style="background-color: #FF4500;">LANCHES</th>
          <th class="cardapio-th text-white" id="cardapio-th-valor">VENDAS</th>
        </tr>
      </thead>
      <tbody>
        {% for venda in maisVendido %}
        {% if venda.nome_lanche != "Em escolha..." %}
        <tr>
          <td class="thTable" style="text-align: center;">
            {% if loop.index == 1 %}
              🥇
            {% elseif loop.index == 2 %}
              🥈
            {% elseif loop.index == 3 %}
              🥉
            {% else %}
              {{ loop.index }}º
            {% endif %}
          </td>
          <td class="thTable" style="text-align: center;">{{ venda.nome_lanche }}</td>
          <td class="thTable" style="text-align: center;">{{ venda.total_vendas }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}


    
</body>


{% endblock %}