{% extends 'base.html' %}
{% block conteudo %}

<body class="w-100 bg-dark">
  <header class="bg-dark text-white fw-bolder fs-3" style="margin-top: 15px; text-indent: 2.5%;">Ultimos Pedidos</header>

  <div class="bg-light" style="margin-left: 2.5%; width: 35%;">
    {% set mesa_anterior = None %}  
    {% set cont = 0 %} 

    {% for pedido in pedidos %}
      {% if pedido.mesa != mesa_anterior %}
        <div class="bg-dark"><br></div>

        <div style="background-color: aquamarine; width: 150px; margin: auto; text-align: center; padding: 10px">
          {% if pedido.mesa < 10 %}
            MESA: 0{{ pedido.mesa }} <br>
          {% else %}
            MESA: {{ pedido.mesa }} <br>
          {% endif %}

          {% if pedido.status == 1 %}
            STATUS: ABERTA <br>
          {% else %}
            STATUS: FECHADA <br>
          {% endif %}

          TOTAL: ${{ pedido.total | number_format(2, ',', '.') }} <br>
          Ás: {{ pedido.data_hora | date('H:i') }}
        </div>   

        {% set mesa_anterior = pedido.mesa %}
        {% set cont = 0 %}
      {% endif %}

      <table class="table-responsive" style="margin: auto; background-color: cornflowerblue;">
        <thead>
          <tr>
            <th scope="col" style="background-color: brown; width: 30px;">
              {% if cont == 0 %}
                ID
              {% set cont = 1 %}
              {% endif %}
            </th>
            <th scope="col" style="background-color: blue; width: 120px;">
              {% if cont == 1 %}
                Lanches
              {% set cont = 2 %}
              {% endif %}
            </th>
            <th scope="col" style="background-color: blueviolet; width: 30px;">
              {% if cont == 2 %}
                ID
              {% set cont = 3 %}
              {% endif %}
            </th>
            <th scope="col" style="background-color: aquamarine; width: 120px;">
              {% if cont == 3 %}
                Adicionais
              {% set cont = 4 %}
              {% endif %}
            </th>
            <th scope="col" style="background-color: chocolate; width: 120px;">
              {% if cont == 4 %}
                Bebidas
              {% set cont = 5 %}
              {% endif %}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              {{ pedido.id_lanche }}
            </td>
            <td>
              {{ pedido.nome_lanche }}
            </td>
            <td>
              {{ pedido.id_ingredi }}
            </td>
            <td>
              {{ pedido.add_ingredi }}
            </td>
            <td>
              {{ pedido.nome_bebida }} {{ pedido.tamanho_bebida }}
            </td>
          </tr>
        </tbody>
      </table>
    {% endfor %}
  </div>
  
  <main class="bg-light" id="adicionarTabela" style="margin-top: 15px; margin-bottom: 30px;">
      {% set mesa_anterior = None %}  <!-- Inicializa a variável auxiliar -->
      {% set cont = 0 %}  <!-- Inicializa a variável auxiliar -->
      {% for pedido in pedidos %}
          <!-- Exibe a mesa e trava o número da mesa -->
          <table class="table-responsive" id="adicionarTabelaHome" style="margin-left: 3px;">
            <thead>
              {% if pedido.mesa != mesa_anterior %}
              <th scope="col">
                {% if pedido.mesa < 10 %}
                  <span style="color: blue;">0{{ pedido.mesa }}</span>
                  {% if pedido.status == 1 %} 
                    <span style="color: green;">ON</span>
                  {% else %}
                    <span style="color: red;">OFF</span>
                  {% endif %}
                {% else %}
                  <span style="color: blue;">{{ pedido.mesa }}</span>
                   {% if pedido.status == 1 %} 
                    <span style="color: green;">ON</span>
                  {% else %}
                    <span style="color: red;">OFF</span>
                  {% endif %}
                {% endif %}
              </th>
              <th scope="col">
                TOTAL: <span style="color: blue;">
                  ${{ pedido.total | number_format(2, ',', '.') }}
                </span>
              </th>
              <th scope="col">
                Ás: <span style="color: green">
                  {{ pedido.data_hora | date('H:i') }}
                </span>
              </th>

              <div class="bg-dark"><hr style="margin-top: 2.5px; margin-bottom: 2.5px; height: 6px;"></div>
              {% set mesa_anterior = pedido.mesa %}
              {% set cont = 0 %}
              {% endif %}
              <tr>   
                <th scope="col" style="width: 40px;">
                  {% if cont == 0 %}
                    ID
                  {% set cont = 1 %}
                  {% endif %}
                </th>
                <th scope="col" style="width: 200px;">
                  {% if cont == 1 %}
                    Lanches
                  {% set cont = 2 %}
                  {% endif %}
                </th>
                <th scope="col" style="width: 40px;">
                  {% if cont == 2 %}
                    ID
                  {% set cont = 3 %}
                  {% endif %}
                </th>
                <th scope="col" style="width: 120px;">
                  {% if cont == 3 %}
                    Adicionais
                  {% set cont = 4 %}
                  {% endif %}
                </th>
                <th scope="col" style="width: 90px;">
                  {% if cont == 4 %}
                    Bebidas
                  {% set cont = 5 %}
                  {% endif %}
                </th>
              </tr>
            </thead>
            
            <tbody>
              <tr>
                <td scope="col">
                  {{ pedido.id_lanche }}
                </td>
                <td scope="col">
                  {{ pedido.nome_lanche }}
                </td>
                <td scope="col">
                  {{ pedido.id_ingredi }}
                </td>
                <td scope="col">
                  {{ pedido.add_ingredi }}
                </td>
                <td scope="col">
                  {{ pedido.nome_bebida }} {{ pedido.tamanho_bebida }}
                </td>
              </tr>
            </tbody>
          </table>
      {% endfor %}
  </main>
</body>

<script src="{{ url('/templates/comanda/assets/js/comanda.js') }}" defer></script>

{% endblock %}