{% extends 'base.html' %}
{% block conteudo %}

<body class="w-100 bg-dark">

<div id="adicionarLanches" style="margin-bottom: 25px;">

    <header class="text-center bg-dark" id="adicionarHeader" >
        <h3 class="text-white text-center">
            Editar Bebida 
        </h3>
    </header>

    <div>
        <table class="table" id="adicionarTabela">
            <form action="{{ url('atualizar/'~editar.chave) }}" method="post" class="bg-light" id="pedidos">
                
                <input value="{{ editar.mesa }}" id="mesa" name="mesa" type="hidden" class="fw-bolder bg-light text-center">
                    
                {% for valor in total %}
                {% if valor.mesa == editar.mesa %}
                <input type="hidden" name="total" id="total" value="{{ valor.total }}">
                {% endif %}
                {% endfor %}

                <input type="hidden" id="novoTotal" name="novoTotal" type="number">
                
                <table class="table" id="tabelaPedidos">
                    <thead>
                        <tr>
                            <th scope="col" class="bg-light">BEBIDA</th>
                            <th scope="col" class="text-center bg-light">TAM</th>
                            <th scope="col" class="text-center bg-light">PREÇO</th>
                            <th scope="col" class="text-center bg-light">EXCLUIR</th>
                        </tr>
                    </thead>
                    
                    <tbody id="listaPedidos">
                        <tr>
                            <td class="nome_pedidoTd">
                                <input value="{{ editar.nome_bebida }}" type="text" class="nome_pedido" name="nome_bebida" id="nome_bebida" style="font-weight: bolder;">
                            </td>
                    
                            <td class="detalhes_pedidoTd">
                                <input value="{{ editar.tamanho_bebida }}" type="text" class="detalhes_pedido" name="tamanho_bebida" id="tamanho_bebida">
                            </td>
                    
                            <td class="valor_pedidoTd">
                                <input value="{{ editar.valor_bebida }}" type="text" class="valor_pedido" name="valor_bebida" id="valor_bebida">
                            </td>
                            <td class="apagarPedidoTd">
                                <a class="apagarPedido" href="{{url('atualizar/' ~ editar.chave)}}">
                                    <input type="hidden" name="apagar" id="apagar">
                                    <button  style="background-color: #dc3545; border-radius: 4px; border: #b02a37; width: 30px;">
                                        <i class="fa-solid fa-trash" style="color: white;"></i>
                                    </button>                     
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center mt-3">
                    <input class="btn btn-primary" type="submit" value="Enviar"
                        style="margin-bottom: 25px;">
                    <input class="btn btn-danger" type="button" value="Cancelar"
                        style="margin-bottom: 25px;">
                </div>
            </form>
        </table>
    </div>

    {% if editar.nome_bebida != "" %}
    <table class="table" id="adicionarTabela">
        <thead>
            <tr>
                <th scope="col" class="bg-light">BEBIDAS</th>
                <th scope="col" class="text-center bg-light">TAMANHO</th>
                <th scope="col" class="text-center bg-light">ADD</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cardapio_bebida %}
            <tr>
                <th class="bg-light w-25">{{ item.marca }}</th>
                <input type="hidden" id="bebida" name="bebida" value="{{ item.marca }}">
                <td class="text-center align-middle w-40 bg-light">
                    <select class="form-select text-center bg-light fw-bolder" id="tamanho_valor">
                        {% for tamanho in tamanhoBebida %}
                        {% if tamanho.marca_bebida_id == item.id %}
                        <option value="{{ tamanho.valor }}|{{ tamanho.tamanho }}">
                            {{ tamanho.tamanho }} - ${{ tamanho.valor | number_format(2, ',', '.') }}
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td class="text-center align-middle bg-light" style="width: 25%;">
                    <div class="enviarBebida">
                        <input type="button" class="text-center text-white fw-bolder" value="+" 
                            style="background-color: #32cd32; border-radius: 4px; border: #228b22; width: 30px;">
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<body>

<script src="{{ url('/templates/comanda/assets/js/editarBebida.js') }}" defer></script>

{% endblock %}