{% extends 'base.html' %}
{% block conteudo %}

<body class="w-100 bg-dark">

{% for num in mesa %}
<input type="hidden" id="controleMesa" name="controleMesa" value="{{ num.mesa }}">
{% endfor %}

<div id="adicionarLanches" style="margin-bottom: 25px;">
    
    <div>
        <table class="table" id="adicionarTabela">
            <form action="{{ url('atualizar/'~editar.id) }}" method="post" class="bg-light" id="pedidos">

                <header class="text-center bg-dark" id="adicionarHeader">
                    <h3 class="text-white text-center">
                        Mesa: <input value="{{ editar.mesa }}" id="mesa" name="mesa" type="number" class="fw-bolder bg-light text-center">
                    </h3>
                </header>

                <input type="hidden" id="nummesa" name="nummesa" type="number">

                <table class="table" id="tabelaPedidos">
                    {% if editar.nome_lanche != "" %}
                    <thead>
                        <tr>
                            <th scope="col" class="bg-light">LANCHE</th>
                            <th scope="col" class="text-center bg-light">OBS</th>
                            <th scope="col" class="text-center bg-light">PREÇO</th>
                            <th scope="col" class="text-center bg-light">EXCLUIR</th>
                        </tr>
                    </thead>

                    <tbody id="listaPedidos">
                        <tr>
                            <td class="nome_pedidoTd">
                                <input value="{{ editar.nome_lanche }}" type="text" class="nome_pedido" name="nome_lanche" id="nome_lanche" style="font-weight: bolder;">
                            </td>
                    
                            <td class="detalhes_pedidoTd">
                                <input value="{{ editar.detalhes_lanche }}" type="text" class="detalhes_pedido" name="detalhes_lanche" id="detalhes_lanche">
                            </td>
                            <td class="valor_pedidoTd">
                                {% set somaAdicional = 0 %}
                                
                                {% for add in adicional %}
                                {% if editar.id_lanche == add.id %}
                                {% set somaAdicional = somaAdicional + add.valor_adicional %}
                                {% endif %}
                                {% endfor %}
                                
                                {% set total = somaAdicional + editar.valor_lanche %}

                                <input value="{{ total }}" type="text" name="valor_lanche" class="valor_pedido" id="valor_lanche">
                            </td>

                            <td class="apagarPedidoTd">
                                <a class="apagarPedido" href="{{url('excluirPedido/' ~ editar.id)}}">
                                    <button  style="background-color: #dc3545; border-radius: 4px; border: #b02a37; width: 30px;">
                                        <i class="fa-solid fa-trash" style="color: white;"></i>
                                    </button>                     
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    {% endif %}
                </table>

                <input type="hidden" name="id_lanche" value="{{ editar.id_lanche }}">
                <input type="hidden" name="total" value="{{ editar.total }}">
                <input type="hidden" name="status" value="{{ editar.status }}">

                <div class="text-center mt-3">
                    <input class="btn btn-primary" type="submit" value="Enviar"
                        style="margin-bottom: 25px;">
                    <input class="btn btn-danger" type="button" value="Cancelar"
                        style="margin-bottom: 25px;">
                </div>
            </form>
        </table>
    </div>

    {% if editar.nome_lanche != "" %}
    <table class="table" id="adicionarTabela">
        <thead>
            <tr>
                <th scope="col" class="bg-light" style="width: 120px;">LANCHES</th>
                <th scope="col" class="text-center bg-light" style="width: 70px;">PREÇO</th>
                <th scope="col" class="text-center bg-light">OBS</th>
                <th scope="col" class="text-center bg-light" style="width: 100px;">ADD</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cardapio %}
            <tr>
                <th class="bg-light">
                    <span>{{ item.lanche }}</span>
                    <input type="hidden" id="lanche" name="lanche" value="{{ item.lanche }}">
                </th>
                <td class="text-center align-middle bg-light fw-bold" style="color: blue;">
                    <span> ${{ item.valor | number_format(2, ',', '.') }}</span>
                    <input type="hidden" value="{{ item.valor }}" id="valor_lanche" name="valor_lanche">
                </td>
                <td class="text-center align-middle bg-light" style="width: 25%;">
                    <input type="text" id="detalhesLanche" name="detalhesLanche" class="bg-light w-100">
                </td>
                <td class="text-center align-middle bg-light">
                    <div class="enviarLanche">
                        <input type="button" class="text-center text-white fw-bolder" value="+"
                            style="background-color: #32cd32; border-radius: 4px; border: #228b22; width: 30px;">
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<body>
    
<script src="{{ url('/templates/comanda/assets/js/editar.js') }}" defer></script>


{% endblock %}