{% extends 'base.html' %}
{% block conteudo %}

<body class="w-100 bg-dark">

<div id="adicionarLanches" style="margin-bottom: 25px;">

    <header class="text-center bg-dark" id="adicionarHeader">
        <h3 class="text-white text-center fw-bolder" style="margin-top: 10px;">
            Mesa: {{ editar.mesa }}
        </h3>
    </header>

    {% for item in lanches %}
        {% if item.mesa == editar.mesa %}
            <div class="lanches"></div>
        {% endif %}
    {% endfor %}

    <div>
        <table class="table" id="adicionarTabela">
            <form action="{{ url('atualizar/'~editar.id) }}" method="post" class="bg-light" id="pedidos">

                <input type="hidden" name="mesa" id="mesa" value="{{ editar.mesa }}">

                <input value="{{ editar.id_lanche }}" id="idApagarAdicional" name="idApagarAdicional" type="hidden">

                <input type="hidden" id="id_cardapio" name="id_cardapio">
                <input type="hidden" name="id_lanche" id="id_lanche" value="{{ editar.id_lanche }}">
                <input type="hidden" name="status" value="{{ editar.status }}">

                <table class="table" id="tabelaPedidos">
                    <thead>
                        <tr>
                            <th scope="col" class="bg-light">LANCHE</th>
                            <th scope="col" class="text-center bg-light">OBS</th>
                            <th scope="col" class="text-center bg-light">PREÇO</th>
                            <th scope="col" class="text-center bg-light">EXCLUIR</th>
                        </tr>
                    </thead>

                    <tbody id="listaPedidos">
                        <tr>
                            <td class="nome_pedidoTd">
                                <div id="nome-lanche" style="font-weight: bolder;">
                                    {{ editar.nome_lanche }}
                                </div>
                            </td>
                            
                            <td class="detalhes_pedidoTd">
                                <input type="text" class="detalhes_pedidoTd" name="detalhes_lanche" id="detalhes_lanche" value="{{ editar.detalhes_lanche }}">
                            </td>
                            
                            <td class="valor_pedidoTd">
                                <div id="valor-lanche" style="font-weight: bolder; color: blue;">
                                    {{ editar.valor_lanche | number_format(2, ',', '.') }}
                                </div>
                            </td>

                            <td class="apagarPedidoTd">
                                <a class="apagarPedido" href="{{url('atualizar/' ~ editar.id)}}">
                                    <input type="hidden" name="apagar" id="apagar">
                                    <button  style="background-color: #dc3545; border-radius: 4px; border: #b02a37; width: 30px;">
                                        <i class="fa-solid fa-trash" style="color: white;"></i>
                                    </button>                     
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center mt-3">
                    <input class="btn btn-primary" type="submit" value="Enviar"
                        style="margin-bottom: 25px;">
                    <input class="btn btn-danger" type="button" value="Cancelar"
                        style="margin-bottom: 25px;">
                </div>
            </form>
        </table>
    </div>

    <table class="table" id="adicionarTabela">
        <thead>
            <tr>
                <th scope="col" class="bg-light" style="width: 120px;">LANCHES</th>
                <th scope="col" class="text-center bg-light" style="width: 70px;">PREÇO</th>
                <th scope="col" class="text-center bg-light">OBS</th>
                <th scope="col" class="text-center bg-light" style="width: 100px;">ADD</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cardapio %}
            {% if item.lanche != 'Em escolha...' %}
            <tr>
                <input type="hidden" value="{{ item.id }}" name="idCardapio" id="idCardapio">
                
                <th class="bg-light">
                    <span>{{ item.lanche }}</span>
                    <input type="hidden" id="lanche" name="lanche" value="{{ item.lanche }}">
                </th>
                <td class="text-center align-middle bg-light fw-bold" style="color: blue;">
                    <span> ${{ item.valor | number_format(2, ',', '.') }}</span>
                    <input type="hidden" value="{{ item.valor }}" id="valor_lanche" name="valor_lanche">
                </td>
                <td class="text-center align-middle bg-light" style="width: 25%;">
                    <input type="text" id="detalhesLanche" name="detalhesLanche" class="bg-light w-100">
                </td>
                <td class="text-center align-middle bg-light">
                    <div class="enviarLanche">
                        <input type="button" class="text-center text-white fw-bolder" value="+"
                            style="background-color: #32cd32; border-radius: 4px; border: #228b22; width: 30px;">
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<body>
    
<script src="{{ url('/templates/comanda/assets/js/editarLanche.js') }}" defer></script>


{% endblock %}