{% extends 'base.html' %}
{% block conteudo %}

<body class="w-100 bg-dark">

<div id="adicionarLanches" style="margin-bottom: 25px;">

    <header class="text-center bg-dark" id="adicionarHeader">
        <h3 class="text-white text-center">
            Editar Adicional 
        </h3>
    </header>

    <div>
        <table>
            <form action="{{ url('atualizar/'~editar.chave) }}" method="post" class="bg-light" id="pedidos">

                <input value="{{ editar.mesa }}" id="mesa" name="mesa" type="hidden" class="fw-bolder bg-light text-center">
                    
                {% for valor in total %}
                {% if valor.mesa == editar.mesa %}
                <input type="hidden" name="total" id="total" value="{{ valor.total }}">
                {% endif %}
                {% endfor %}

                <input type="hidden" id="novoTotal" name="novoTotal" type="number">

                <table class="table" id="tabelaPedidos">
                    <thead >
                        <tr>
                            <th scope="col" class="bg-light">ADICIONAL</th>
                            <th scope="col" class="text-center bg-light">PREÇO</th>
                            <th scope="col" class="text-center bg-light">EXCLUIR</th>
                        </tr>
                    </thead>

                    <tbody id="listaPedidos">
                        <tr>
                            <td class="nome_pedidoTd">
                                <input value="{{ editar.nome_adicional }}" type="text" class="nome_pedido" name="nome_adicional" id="nome_adicional" style="font-weight: bolder;">
                            </td>
                    
                            <td class="valor_pedidoTd">
                                <input type="text" value="{{ editar.valor_adicional }}" class="valor_pedido" name="valor_adicional" id="valor_adicional">
                            </td>
                            <td class="apagarPedidoTd">
                                <a class="apagarPedido" href="{{url('excluir/' ~ editar.chave)}}">
                                    <button  style="background-color: #dc3545; border-radius: 4px; border: #b02a37; width: 30px;">
                                        <i class="fa-solid fa-trash" style="color: white;"></i>
                                    </button>                     
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center mt-3">
                    <input class="btn btn-primary" type="submit" value="Enviar"
                        style="margin-bottom: 25px;">
                    <input class="btn btn-danger" type="button" value="Cancelar"
                        style="margin-bottom: 25px;">
                </div>
            </form>
        </table>
    </div>

    <table class="table" id="adicionarTabela" style="margin-bottom: 20px;">
        <thead>
            <tr>
                <th scope="col" class="bg-light" style="width: 130px;">ADICIONAIS</th>
                <th scope="col" class="text-center bg-light" style="width: 200px;">PREÇO</th>
                <th scope="col" class="text-center bg-light" style="width: 100px;">ADD</th>
                <th scope="col" class="text-center bg-light" style="width: 100px;">REMOVER</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ingredientes %}
            <tr>
                <th class="bg-light">
                    <span>{{ item.ingrediente }}</span>
                    <input type="hidden" id="nomeIngrediente" name="nomeIngrediente" value="{{ item.ingrediente }}">
                </th>
                <td class="text-center align-middle bg-light fw-bold" style="color: blue;">
                    <span> ${{ item.valor | number_format(2, ',', '.') }}</span>
                    <input type="hidden" value="{{ item.valor }}" id="valorIngrediente" name="valorIngrediente">
                </td>
                <td class="text-center align-middle bg-light">
                    <div class="enviarIngrediente">
                        <input type="button" class="text-center text-white fw-bolder" value="+"
                            style="background-color: #32cd32; border-radius: 4px; border: #228b22; width: 30px;">
                    </div>
                </td>
                <td class="text-center align-middle bg-light" style="width: 25%;">
                    <div class="removerIngredienteBtns">
                        <input type="button" class="text-center text-white fw-bolder" value="-"
                            style="background-color: #dc3545; border-radius: 4px; border: #b02a37; width: 30px;">
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<body>

<script src="{{ url('/templates/comanda/assets/js/editarAdicional.js') }}" defer></script>

{% endblock %}