<!-- Navbar Header -->
<nav class="navbar navbar-expand-lg navbar-dark" id="menuComanda">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand fs-2 " href="{{url('comanda')}}">PedeFacil</a>

        <!-- Botão para Mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Conteúdo do Navbar -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <!-- Navegação Principal -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active fs-4" aria-current="page" href="{{url('comanda')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4" href="{{url('adicionar')}}">Adicionar</a>
                </li>

                <!-- Dropdown de Categorias -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fs-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Pedidos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item fs-5" href="{{url('pedidosAbertos')}}">Abertos</a>
                        </li>
                        <li><a class="dropdown-item fs-5" href="#">Fechados</a></li>
                        <li><a class="dropdown-item fs-5" href="#">Todos</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Pesquisa e Botão de Sair -->
            <div class="d-flex align-items-center">
                <form class="d-flex me-2" role="search">
                    <input class="form-control me-2 fs-5" type="search" placeholder="Buscar mesa" aria-label="Search">
                    <button class="btn btn-outline-light fs-5" type="submit">Buscar</button>
                </form>
                
                <!-- Botão de Perfil com Dropdown -->
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle fs-5" type="button" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle">Wellington</i> 
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownProfile">
                        <li><a class="dropdown-item fs-5" href="#">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>