{% extends 'base.html' %}

{% block conteudo %}

<body class="w-100" style="background-color: black;">

  {% for num in mesa %}
  {% if num.status == 1 %}
    <input type="hidden" id="controleMesa" name="controleMesa" value="{{ num.mesa }}">
  {% endif %}
  {% endfor %}
  
  <header class="cardapio-header"
    style="margin-top: 15px; margin-bottom: 10px; justify-content: center; display: flex;">
    <div class="linha-com-texto">
      <span>MESAS FECHADAS</span>
    </div>
  </header>

  <div style="display: flex; justify-content: center; margin-bottom: 20px;">
    <button class="btnMostrarMesas btn fs-5" style="font-weight: bolder; color: white; background-color: blue;">
      Mostrar Todos
    </button>
  </div>

  {% set mesas_exibidas = [] %}
  {% set bebidas_exibidas = [] %}
  {% set chaves_exibidas = [] %}

  <div style="display: none; gap: 10px; flex-wrap: wrap; width: 100%; justify-content: center; padding: 10px;"
    id="mesaButtonsContainer">
    {% for pedido in pedidos %}
      {% if pedido.status == 0 and pedido.id_mesa not in mesas_exibidas %}
        <button class="btnAbrirAberto btn fs-5" style="font-weight: bolder; color: white; margin-bottom: 10px; background-color: darkgreen"
          data-id-mesa="{{ pedido.id_mesa }}">
          MESA:
          <span style="color: chartreuse; font-weight: bolder;">
            {% if pedido.mesa < 10 %}
              0{{ pedido.mesa }}
            {% else %}
              {{ pedido.mesa }}
            {% endif %}
          </span>
        </button>
        {% set mesas_exibidas = mesas_exibidas | merge([pedido.id_mesa]) %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="bg-light table-responsive"
    style="width: 97%; margin-top: 20px; justify-content: center; margin: auto; padding: 10px; margin-bottom: 20px;">
    
    {% set mesas_exibidas = [] %}

    {% set cont = 0 %}

    {% for pedido in pedidos %}
    {% if pedido.status == 0 %}
    {% if pedido.id_mesa not in mesas_exibidas %}
    {# RESET DE CONTROLE DE BEBIDAS POR MESA #}
    {% set bebidas_exibidas = [] %}
    {% set chaves_exibidas = [] %}
  <div class="mesaAberta" style="display: none;" data-id-mesa="{{ pedido.id_mesa }}">
    <div style="display: flex; justify-content: space-evenly; align-items: center; padding: 10px; ">   
        
        {% if pedido.mesa < 10 %} 
        <div> 
            MESA: <span style=" margin-left: 5px; color: lime"> 0{{ pedido.mesa }}</span>      
        </div>
        {% else %}
        <div>
            MESA: <span style="margin-left: 5px; color: lime">{{ pedido.mesa }}</span>       
        </div>
        {% endif %}

      <div>
        STATUS: <span style="color: gold;">FECHADA</span>
      </div>

      {% set mostrado = false %}

      {% for valor in total %}
        {% if pedido.id_mesa == valor.id_mesa and not mostrado %}
          <div>
            TOTAL: <span style="color: dodgerblue;">${{ valor.subTotal | number_format(2, ',', '.') }}</span>
          </div>
          {% set mostrado = true %}
        {% endif %}
      {% endfor %}

      <div>
        Ás: <span style="color: lightseagreen;">{{ pedido.data_hora | date('H:i') }}</span>
      </div>

      <div>
        <a href="#"  
          class="btn fs-5 abrir-mesa" 
          data-url="{{ url('abrirMesa/' ~ pedido.id_mesa) }}"
          data-mesa="{{ pedido.mesa }}"
          style="font-weight: bolder; color: white;  margin-right: 5px; background-color: blue;">
          Abrir Mesa
        </a>
        <a href="#" 
          class="btn fs-5 excluir-mesa" 
          data-url="{{ url('excluirMesa/' ~ pedido.id_mesa) }}" 
          style="font-weight: bolder; color: white; margin-left: 5px; background-color: darkred;">
          Excluir Mesa
        </a>
      </div>
    </div>
  </div>
  {% set cont = 0 %}
  {% set mesas_exibidas = mesas_exibidas | merge([pedido.id_mesa]) %}
  {% endif %}

  <table style="justify-content: center; margin-bottom: 5px; width: 100%; display: none;" class="tablePedido"
    data-id-mesa="{{ pedido.id_mesa }}">
    <thead>
      <tr>
        <th class="thTableAberto" scope="col">
          {% if cont == 0 %}
          LANCHES
          {% set cont = 1 %}
          {% endif %}
        </th>
        <th class="thTableAberto" scope="col" style="padding-left: 5px;">
          {% if cont == 1 %}
          VALOR
          {% set cont = 2 %}
          {% endif %}
        </th>
        <th class="thTableAberto" scope="col">
          {% if cont == 2 %}
          BEBIDAS
          {% set cont = 3 %}
          {% endif %}
        </th>
        <th class="thTableAberto" scope="col" style="padding-left: 5px;">
          {% if cont == 3 %}
          VALOR
          {% set cont = 4 %}
          {% endif %}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="font-weight: bolder;">
          {% if pedido.nome_lanche == 'Em escolha...' and pedido.status == 0 %}
            <span style="color: gray; font-style: italic;">
                Em escolha...
            </span> <br>
            {% else %}
            <span style="color: black;">
             {{ pedido.nome_lanche }}<br>
            </span>
          {% endif %}

          {% for add in adicional %}
          {% if pedido.id_lanche == add.id %}
          <div style="margin-top: 5px">
            {% if add.tipo == '+' %}
            <span style="color: green; font-weight: bolder;">
              +{{ add.nome_adicional }}
            </span>        
            {% elseif add.tipo == '-' %}
            <span style="color: red; font-weight: bolder;">
              -{{ add.nome_adicional }}
            </span>
            {% endif %}
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
        </td>
    
        <td>
          {% set somaAdicional = 0 %}
          <!-- Loop para somar os valores dos adicionais -->
          {% for add in adicional %}
          {% if pedido.id_lanche == add.id and pedido.status == 0 %}
          {% set somaAdicional = somaAdicional + add.valor_adicional %}
          {% endif %}
          {% endfor %}
          
          {% if pedido.valor_lanche != 0 and pedido.status == 0 %}
          <span style="font-weight: bolder; padding-left: 5px; color: black;">
            {{ (somaAdicional + pedido.valor_lanche) | number_format(2, ',', '.') }}
          </span>
          {% endif %}
        </td>
    
        <td style="font-weight: bolder;">
            {% for bebida in bebidas %}
              {% if bebida.id_mesa == pedido.id_mesa and pedido.status == 0 %}
                {% if bebida.chave not in bebidas_exibidas and bebida.status == 0 %}              
                    <span style="color: black;">
                    {{ bebida.nome_bebida }} {{ bebida.tamanho_bebida }} 
                  </span> <br>              
                  {% set bebidas_exibidas = bebidas_exibidas | merge([bebida.chave]) %}
                {% endif %}
              {% endif %}
            {% endfor %}
        </td>
    
        <td>
          {% for bebida in bebidas %}
            {% if bebida.id_mesa == pedido.id_mesa and pedido.status == 0 %}
              {% if bebida.chave not in chaves_exibidas and bebida.status == 0 %}
                <span style="font-weight: bolder; padding-left: 5px; color: black;">{{ bebida.valor_bebida | number_format(2, ',', '.') }}</span> <br>
                {% set chaves_exibidas = chaves_exibidas | merge([bebida.chave]) %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
  {% endfor %}
  </div>

  <header class="cardapio-header">
    <div class="linha-com-texto">
      <span>CARDÁPIO</span>
    </div>
  </header>

  <div class="bg-light cardapio-pedidos-abertos"
    style="width: 97%; justify-content: center; margin: auto; padding: 10px; margin-bottom: 30px;">

    <!-- Cardápio de Lanches -->
    <table class="table cardapio-lanche" style="margin-top: 2px;">
      <thead class="thead-dark">
        <tr>
          <th class="cardapio-th text-white" id="cardapio-th-naovalor">LANCHES</th>
          <th class="cardapio-th text-white" id="cardapio-th-valor">VALOR</th>
        </tr>
      </thead>
      {% for cardapio in cardapioLanche %}
      <tbody>
        <tr>
          {% if cardapio.lanche != 'Em escolha...' %}
            <th class="cardapio-th-item" style="width: 600px;">
              <details class="dropdown-fake-abertos">
                <summary class="dropdown-label">{{ cardapio.lanche }}</summary>
                <ul class="dropdown-list">
                  {% for ingred in ingredientes %}
                    {% if ingred.lanche_id == cardapio.id %}
                      <span>{{ ingred.ingredientes }}</span>
                    {% endif %}
                  {% endfor %}
                </ul>
              </details>
            </th>
            
            <th id="valor_lanche" class="cardapio-th-item ">{{ cardapio.valor | number_format(2, ',', '.') }}</th>
          {% endif %}
        </tr>
      </tbody>
      {% endfor %}
    </table>

    <!-- Cardápio de Bebidas -->
    <table class="table cardapio-bebida">
      <thead class="thead-dark">
        <tr>
          <th class="cardapio-th text-white" id="cardapio-th-naovalor">BEBIDAS</th>
          <th class="cardapio-th text-white" id="cardapio-th-valor">VALOR</th>
        </tr>
      </thead>
      {% for bebidas in cardapioBebida %}
      <tbody>
        <tr>
          <th class="cardapio-th-item">{{ bebidas.marca }}</th>
          <td class="cardapio-valor">
            <select class="form-select" id="valor_lanche">
              {% for tamanho in tamanhoBebida %}
              {% if tamanho.marca_bebida_id == bebidas.id %}
              <option value="{{ tamanho.valor }}|{{ tamanho.tamanho }}">
                {{ tamanho.tamanho }} - ${{ tamanho.valor | number_format(2, ',', '.') }}
              </option>
              {% endif %}
              {% endfor %}
            </select>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>

    <!-- Cardápio de Adicionais -->
    <table class="table cardapio-adicionais">
      <thead class="thead-dark">
        <tr>
          <th class="cardapio-th  text-white" id="cardapio-th-naovalor">ADICIONAIS</th>
          <th class="cardapio-th text-white" id="cardapio-th-valor">VALOR</th>
        </tr>
      </thead>
      {% for ingredi in ingred %}
      <tbody>
        <tr>
          <th class="cardapio-th-item">{{ ingredi.ingrediente }}</th>
          <th id="valor_lanche" class="cardapio-th-item">{{ ingredi.valor | number_format(2, ',', '.') }}</th>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>

</body>

<script src="{{ url('/templates/comanda/assets/js/pedidosFechados.js') }}" defer></script>

{% endblock %}