{% extends 'base.html' %}

{% block conteudo %}

<header class="text-center" id="adicionarHeader" style="background-color: black;">
    <h3 class="text-white text-center">
        ⚙️ Configurações
    </h3>
</header>

<div class="bg-light" id="adicionarTabela" style="width: 30%;">
    <div style="padding: 10px;">
        <button class="fs-4" style="margin-bottom: 10px;">
            <a href="#" style="text-decoration: none;">Cadastrar Lanches</a>
        </button>
        <button class="fs-4" style="margin-bottom: 10px;">
            <a href="#" style="text-decoration: none;">Cadastrar Adicionais</a>
        </button>
        <button class="fs-4" style="margin-bottom: 10px;">
            <a href="#" style="text-decoration: none;">Cadastrar Bebidas</a>
        </button>
    </div>
</div>

{% endblock %}