{% extends 'base.html' %}

{% block conteudo %}

<header class="text-center" id="adicionarHeader" style="background-color: black; margin-top: -30px;">
    <h3 class="text-white text-center">
        <div class="linha-com-texto">
            <span>CADASTRAR LANCHES</span>
        </div>
    </h3>
</header>

{% for item in cardapio %}
    <input type="hidden" value="{{ item.id_ingredi }}" id="idLancheTeste" class="idLancheTeste">
{% endfor %}

<div class="bg-dark tabelaAdmin">
    <div style="width: 100%; margin: auto;">
        <form action="{{ url('novoLanche') }}" method="post" class="row g-3 needs-validation" novalidate id="form">
          <div class="col-12">
            <label for="nome" class="form-label" style="color: white; font-weight: bold;">NOME</label>

            <input type="text" class="form-control" style="background-color: gainsboro; border-radius: 0px;" id="lanche" name="lanche" placeholder="Nome do Lanche" required>
          </div>

          <div class="col-12">
            <label for="ingredientes" class="form-label"  style="color: white; font-weight: bold;">INGREDIENTES</label>

            <textarea class="form-control" style="background-color: gainsboro; border-radius: 0px;" id="ingredientes" name="ingredientes" rows="4" placeholder="Ingredientes do Lanche" required></textarea>
          </div>

          <div class="col-md-12">
            <label for="valor" class="form-label" style="color: white; font-weight: bold;">VALOR (R$)</label>

            <input type="number" class="form-control" style="background-color: gainsboro; border-radius: 0px;" id="valor" name="valor" step="0.01" min="0" placeholder="Valor do Lanche" required>
          </div>

          <div class="col-12 text-center">
            <input type="submit" class="btn" value="CADASTRAR" style="background-color: darkgrey; border-radius: 2px; border: black; width: 150px; color: black; font-weight: bold; margin-top: 10px;">
          </div>
        </form>
    </div>
</div>

<header class="cardapio-header" style="margin-top: -50px;">
    <div class="linha-com-texto">
        <span>CARDÁPIO LANCHES</span>
    </div>
</header>

<div class="bg-light cardapio-pedidos-abertos"
style="width: 97%; justify-content: center; margin: auto; padding: 10px; margin-bottom: 40px;">
    <!-- Cardápio de Lanches -->
    <table class="table cardapio-lanche" style="margin-top: 2px;">
        <thead class="thead-dark">
        <tr>
            <th class="cardapio-th text-white" id="cardapio-th-naovalor">LANCHES</th>
            <th class="cardapio-th text-white" id="cardapio-th-valor">VALOR</th>
        </tr>
        </thead>
        {% for cardapio in cardapioLanche %}
        <tbody>
        <tr>
            {% if cardapio.lanche != 'Em escolha...' %}
            <th class="cardapio-th-item" style="width: 600px;">
                <details class="dropdown-fake-abertos">
                <summary class="dropdown-label">{{ cardapio.lanche }}</summary>
                <ul class="dropdown-list">
                    {% for ingred in ingredientes %}
                    {% if ingred.lanche_id == cardapio.id_ingredi %}
                        <span>{{ ingred.ingredientes }}</span>
                    {% endif %}
                    {% endfor %}
                </ul>
                </details>
            </th>
            
            <th id="valor_lanche" class="cardapio-th-item ">{{ cardapio.valor | number_format(2, ',', '.') }}</th>
            {% endif %}
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

<script>
    const idIngredi = document.querySelectorAll('.idLancheTeste')
    const form = document.getElementById('form');
    

    let ultimoInput = idIngredi.length > 0 ? idIngredi[idIngredi.length - 1].value : null;

    let proximoValor = parseInt(ultimoInput) || 0;

    console.log(proximoValor)

    const idLancheInput = document.createElement('input');
    idLancheInput.type = 'hidden';
    idLancheInput.name = 'id_referencia';
    idLancheInput.value = proximoValor + 10;

    console.log(idLancheInput)

    form.appendChild(idLancheInput)

    document.getElementById('form').addEventListener('submit', function (event) {
    event.preventDefault(); // Impede o envio padrão

    const lanche = document.getElementById('lanche').value.trim();
    const ingredientes = document.getElementById('ingredientes').value.trim();
    const valor = document.getElementById('valor').value.trim();

    if (!lanche || !ingredientes || !valor) {
        Swal.fire({
            title: '<span style="color: black;">Campos Obrigatórios!</span>',
            text: 'Preencha todos os campos para cadastrar o lanche.',
            icon: 'warning',
            confirmButtonText: 'Entendido',
            confirmButtonColor: 'darkblue',
        });
    } else {
        Swal.fire({
            title: '<span style="color: black;">Cadastrar Lanche?</span>',
            text: 'Cadastrar novo lanche.',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: '✅ Sim, cadastrar!',
            cancelButtonText: '🛑 Cancelar',
            confirmButtonColor: 'darkblue',
            cancelButtonColor: 'darkred'
        }).then((result) => {
            if (result.isConfirmed) {
                // Envia o formulário manualmente
                event.target.submit();
            }
        });
    }
});
    
    
</script>

{% endblock %}