{% extends 'base.html' %}

{% block conteudo %}

{% for item in cardapio %}
    <input type="hidden" value="{{ item.id_ingredi }}" id="idLancheTeste" class="idLancheTeste">
{% endfor %}

{% for item in bebidas %}
    <input type="hidden" value="{{ item.bebida_id }}" id="idBebidaNova" class="idBebidaNova">

    <input type="hidden" value="{{ item.marca }}" class="bebidaIgual">
{% endfor %}

<div class="bg-dark tabelaAdmin">
    <div style="width: 100%; margin: auto;">
        <form action="{{ url('novoItem') }}" method="post" class="row g-3 needs-validation" novalidate id="form">

            <header class="text-center" id="adicionarHeader" style="background-color: black; margin-top: 10px; padding: 0px;">
                <h4 class="text-white text-center">
                    <div class="linha-com-texto">
                        <span>CADASTRAR LANCHE</span>
                    </div>
                </h4>
            </header>

            <div style="margin-top: 10px; margin-bottom: -10px;">
                {{ flash() }}
            </div>

          <div class="col-12">
            <label for="nomeLanche" class="form-label" style="color: white; font-weight: bold;">NOME DO LANCHE</label>

            <input type="text" class="form-control" style="background-color: gainsboro; border-radius: 0px;" id="lanche" name="lanche" placeholder="Ex: X-Bacon" required>
          </div>

          <div class="col-12">
            <label for="ingredientes" class="form-label"  style="color: white; font-weight: bold;">INGREDIENTES DO LANCHE</label>

            <textarea class="form-control" style="background-color: gainsboro; border-radius: 0px;" id="ingredientes" name="ingredientes" rows="1" placeholder="Ex: Pão, Hamburguer, Tomate, Alface..." required></textarea>
          </div>

          <div class="col-md-6">
            <label for="valorLanche" class="form-label" style="color: white; font-weight: bold;">VALOR DO LANCHE (R$)</label>

            <input type="text" class="form-control" style="background-color: gainsboro; border-radius: 0px;" id="valor" name="valor" step="0.01" min="0" placeholder="R$ 0,00" oninput="formatarMoeda(this)" required>
          </div>

            <header class="text-center" id="adicionarHeader" style="background-color: black; margin-top: 30px; padding: 0px;">
                <h4 class="text-white text-center">
                    <div class="linha-com-texto">
                        <span>CADASTRAR ADICIONAL</span>
                    </div>
                </h4>
            </header>

            <div class="col-12">
                <label for="nomeAdicional" class="form-label" style="color: white; font-weight: bold;">NOME DO ADICIONAL</label>

                <input type="text" class="form-control" style="background-color: gainsboro; border-radius: 0px;" id="adicional" name="adicional" placeholder="Ex: Cheddar" required>
            </div>

            <div class="col-md-6">
                <label for="valorAdicional" class="form-label" style="color: white; font-weight: bold;">VALOR DO ADICIONAL (R$)</label>

                <input type="text" class="form-control" style="background-color: gainsboro; border-radius: 0px;" id="valorAdicional" name="valorAdicional" step="0.01" min="0" placeholder="R$ 0,00" oninput="formatarMoeda(this)" required>
            </div>   
            
            <header class="text-center" id="adicionarHeader" style="background-color: black; margin-top: 30px; padding: 0px;">
                <h4 class="text-white text-center">
                    <div class="linha-com-texto">
                        <span>CADASTRAR BEBIDA</span>
                    </div>
                </h4>
            </header>

            <div class="col-12">
                <label for="bebida" class="form-label" style="color: white; font-weight: bold;">NOME DA BEBIDA</label>
                <select class="form-select" id="bebida" name="bebida" required style="background-color: gainsboro; border-radius: 0px;">
                    <option value="">Selecione uma bebida</option>
                    <option value="Coca-Cola">Coca-Cola</option>
                    <option value="Coca-Cola Zero">Coca-Cola Zero</option>
                    <option value="Pepsi">Pepsi</option>
                    <option value="Guaraná Antarctica">Guaraná Antarctica</option>
                    <option value="Fanta Laranja">Fanta Laranja</option>
                    <option value="Fanta Uva">Fanta Uva</option>
                    <option value="Sprite">Sprite</option>
                    <option value="Del Valle">Del Valle</option>
                    <option value="Água Mineral">Água Mineral</option>
                    <option value="Suco Práts">Suco Práts</option>
                    <option value="Skol">Skol</option>
                    <option value="Brahma">Brahma</option>
                    <option value="Budweiser">Budweiser</option>
                    <option value="Heineken">Heineken</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="tamanho" class="form-label" style="color: white; font-weight: bold;">TAMANHO DA BEBIDA</label>
                <select class="form-select" id="tamanho" name="tamanho" required style="background-color: gainsboro; border-radius: 0px;">
                    <option value="">Selecione o tamanho</option>
                    <option value="Lata">Lata</option>
                    <option value="330ml">330ml</option>
                    <option value="600ml">600ml</option>
                    <option value="1L">1L</option>
                    <option value="1.5L">1.5L</option>
                    <option value="2L">2L</option>
                    <option value="Copo 300ml">Copo 300ml</option>
                    <option value="Garrafa 500ml">Garrafa 500ml</option>
                </select>
            </div>
            
            <div class="col-md-6">
                <label for="valorBebida" class="form-label" style="color: white; font-weight: bold;">VALOR DA BEBIDA (R$)</label>

                <input type="text" class="form-control" style="background-color: gainsboro; border-radius: 0px;" id="valorBebida" name="valorBebida" step="0.01" min="0" placeholder="R$ 0,00" oninput="formatarMoeda(this)" required>
            </div>  

            <section class="text-center" id="adicionarHeader" style="background-color: black; margin-top: 50px; padding: 0px;">
                <h3 class="text-white text-center">
                    <div class="linha-com-texto">
                        <input type="submit" 
                        id="btnCadastrar"
                        class="btn" 
                        value="CADASTRAR" 
                        style="background-color: darkgreen; border-radius: 2px; border: black; width: 150px; color: white; font-weight: bold; margin-top: 10px;">
                    </div>
                </h3>
            </section>

        </form>
    </div>
</div>

<script src="{{ url('templates/comanda/assets/js/admin/cadastrarItem.js') }}" defer></script>

{% endblock %}