{% extends 'base.html' %}

{% block conteudo %}
  
  <header class="cardapio-header"
    style="margin-top: 15px; margin-bottom: 10px; justify-content: center; display: flex;">
    <div class="linha-com-texto">
      <span>EDITAR BEBIDAS</span>
    </div>
  </header>

  <div style="display: flex; justify-content: center; margin-bottom: 20px;">
    <button class="btnMostrarLanches btn fs-5" style="background-color: darkblue; border-radius: 2px; border: black; width: 170px; color: white; font-weight: bold;">
      Mostrar Todas
    </button>
  </div>

  {% set bebidas_exibidas = [] %}

  
  <div style="display: none; gap: 10px; flex-wrap: wrap; width: 100%; justify-content: center; padding: 10px;"
    id="lancheButtonsContainer">
    {% for bebida in cardapio %}
      {% if bebida.bebida_id not in bebidas_exibidas %}
        <button class="btnAbrirAberto btn fs-5" style="background-color: darkgray; border-radius: 2px; border: black; width: auto; color: white; font-weight: bold; margin-bottom: 10px;"
          data-id-mesa="{{ bebida.bebida_id }}">
          <span style="color: black; font-weight: bold;">
            {{ bebida.marca }}
          </span>
        </button>
        {% set bebidas_exibidas = bebidas_exibidas | merge([bebida.bebida_id]) %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="bg-dark tabelaAdmin"> 
    {% set bebidas_exibidas = [] %}

    {% for bebida in cardapio %}
        {% if bebida.bebida_id not in bebidas_exibidas %}
          <div style="width: 100%; margin: auto;" class="lancheAberto" data-id-mesa="{{ bebida.bebida_id }}">
                
            <form action="{{ url('editarItem/' ~ bebida.bebida_id) }}" method="post" class="row g-3 needs-validation" novalidate id="form">

                <header class="text-center" id="adicionarHeader" style="background-color: black; margin-top: 10px; padding: 0px;">
                    <h4 class="text-white text-center">
                        <div class="linha-com-texto">
                            <span>{{ bebida.marca }}</span>
                        </div>
                    </h4>
                </header>

                <div style="margin-top: 10px; margin-bottom: -10px;">
                  {{ flash() }}
                </div>

                <div class="col-12">
                    <label for="nomebebida" class="form-label" style="color: white; font-weight: bold;">NOME DA BEBIDA</label>

                    <input type="text" class="form-control" style="background-color: gainsboro; border-radius: 0px; font-weight: bold;" id="bebida" name="bebida" value="{{ bebida.marca }}" required>
                </div>


                <div class="col-12">
                    <label for="tamanho-{{ bebida.bebida_id }}" class="form-label" style="color: white; font-weight: bold;">SELECIONAR</label>

                    <select class="form-select tamanho-select" id="tamanho-{{ bebida.bebida_id }}" name="tamanho" required style="background-color: gainsboro; border-radius: 0px;" data-bebida-id="{{ bebida.bebida_id }}">
                        {% for tamanho in tamanhoBebida %}
                            {% if tamanho.marca_bebida_id == bebida.bebida_id %}
                                <option value="{{ tamanho.tamanho }}" 
                                data-valor="{{ tamanho.valor }}"   
                                data-controle="{{ tamanho.controle }}"
                                    {% if loop.first %}selected{% endif %}>
                                    {{ tamanho.tamanho }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="tamanhoBebida-{{ bebida.bebida_id }}" class="form-label" style="color: white; font-weight: bold;">TAMANHO</label>

                    <input type="text" class="form-control tamanho-input" style="background-color: gainsboro; border-radius: 0px; font-weight: bold;" id="tamanhoBebida-{{ bebida.bebida_id }}" name="tamanhoBebida" value="" required data-bebida-id="{{ bebida.bebida_id }}">
                </div>

                <div class="col-md-6">
                    <label for="valorBebida-{{ bebida.bebida_id }}" class="form-label" style="color: white; font-weight: bold;">VALOR (R$)</label>

                    <input type="text"
                    class="form-control valor-input"
                    style="background-color: gainsboro; border-radius: 0px; font-weight: bold;"
                    id="valorBebida-{{ bebida.bebida_id }}"
                    name="valorBebida"
                    value="" 
                    placeholder="R$ 0,00"
                    required
                    data-bebida-id="{{ bebida.bebida_id }}"
                    oninput="formatarMoeda(this)">
                </div>  

                <input type="hidden" class="form-control controle-input" id="controleBebida-{{ bebida.bebida_id }}" name="controleBebida" value="" required data-bebida-id="{{ bebida.bebida_id }}">
       
                <section class="text-center" id="adicionarHeader" style="background-color: black; margin-top: 50px; padding: 0px;">
                    <h3 class="text-white text-center">
                        <div class="linha-com-texto">
                            <input type="submit" 
                            id="btnCadastrar"
                            class="btn" 
                            value="EDITAR" 
                            style="background-color: darkgreen; border-radius: 2px; border: black; width: 150px; color: white; font-weight: bold; margin-top: 10px; margin-right: 2.5px">

                            <a href="#" 
                            class="btn excluir"
                            data-url="{{ url('excluirItem/' ~ bebida.controle ~ '/' ~ 2) }}"
                            style="background-color: darkred; border-radius: 2px; border: black; width: 150px; color: white; font-weight: bold; margin-top: 10.5px; margin-left: 2.5px;">
                            EXCLUIR
                            </a>
                        </div>
                    </h3>
                </section>
            </form>            
          </div>
          {% set bebidas_exibidas = bebidas_exibidas | merge([bebida.bebida_id]) %}
        {% endif %} 
    {% endfor %}
  </div>

<script src="{{ url('templates/comanda/assets/js/admin/editarBebidas.js') }}" defer></script>

{% endblock %}