{% extends 'base.html' %}
{% block conteudo %}

<body class="w-100" style="background-color: black;">

<div id="adicionarLanches" style="margin-bottom: 25px;">

    <header class="text-center" id="adicionarHeader" style="background-color: black;">
        <h3 class="text-white text-center" style="margin-top: 10px;">
        {% if editar.mesa != 0 %}
            Mesa: {{ editar.mesa }}
        {% else %}
            {% for item in entregas %}
            {% if item.id_mesa == editar.id_mesa %}
                Cliente: 
                <span style="color: chartreuse;"> 
                    {{ item.cliente }}
                </span>
                
                <input id="cliente"  value="{{ item.cliente }}" type="hidden" class="fw-bolder bg-light text-center" readonly>
            {% endif %}
            {% endfor %}
        {% endif %}
        </h3>
    </header>

    <div>
        <table class="table" id="adicionarTabela">
            <form action="{{ url('atualizar/'~editar.chave) }}" method="post" class="bg-light" id="pedidos">

                {% for item in entregas %}
                {% if editar.id_mesa == item.id_mesa %}
                    <input type="hidden" name="controleDestino" id="controleDestino" value="{{item.tipo}}" class="bg-light">
                {% endif %}
                {% endfor %}
                
                <input value="{{ editar.mesa }}" id="mesa" name="mesa" type="hidden">

                <input type="hidden" value="{{ editar.id_mesa }} " id="id_mesa" name="id_mesa">

                <input value="0" id="idApagarAdicional" name="idApagarAdicional" type="hidden">

                <input type="hidden" id="idCardapio_bebida" name="idCardapio_bebida">
                <input type="hidden" id="idTamanhoValor" name="idTamanhoValor">
                
                <table class="table" id="tabelaPedidos">
                    <thead>
                        <tr>
                            <th scope="col" class="bg-light">BEBIDA</th>
                            <th scope="col" class="text-center bg-light">TAM</th>
                            <th scope="col" class="text-center bg-light">PREÇO</th>
                            <th scope="col" class="text-center bg-light">EXCLUIR</th>
                        </tr>
                    </thead>
                    
                    <tbody id="listaPedidos">
                        <tr>
                            <td class="nome_pedidoTd">
                                <div id="nome-bebida" style="font-weight: bolder;">
                                    {{ editar.nome_bebida }}
                                </div>
                            </td>
                    
                            <td class="detalhes_pedidoTd">
                                <div id="tamanho-bebida" style="font-weight: bolder;">
                                    {{ editar.tamanho_bebida }}
                                </div>
                            </td>
                    
                            <td class="valor_pedidoTd">
                                <div id="valor-bebida" style="font-weight: bolder; color: blue;">
                                    ${{ editar.valor_bebida | number_format(2, ',', '.') }}
                                </div>
                            </td>

                            <td class="apagarPedidoTd">
                                <a class="apagarPedido" href="{{url('atualizar/' ~ editar.chave)}}">
                                    <input type="hidden" name="apagar" id="apagar">
                                    <input type="hidden" name="controleAdicional" id="controleAdicional" value="controlBebida">

                                    <button  style="background-color: darkred; border-radius: 2px; border: black; width: 30px;">
                                        <i class="fa-solid fa-trash" style="color: white;"></i>
                                    </button>                     
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center mt-3">
                    <input id="btnEnviarPedido" class="btn" type="submit" value="Editar" style="margin-bottom: 25px; background-color: blue; color: white; border-radius: 2px;">

                    <a href="{{url('pedidosAbertos')}}" class="btn" type="button" style="margin-bottom: 25px; background-color: darkred; color: white; border-radius: 2px;">Voltar</a>
                </div>
            </form>
        </table>
    </div>

    {% if editar.nome_bebida != "" %}
    <table class="table" id="adicionarTabela">
        <thead>
            <tr>
                <th scope="col" class="bg-light">BEBIDAS</th>
                <th scope="col" class="text-center bg-light">TAMANHO</th>
                <th scope="col" class="text-center bg-light">ADD</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cardapio_bebida %}
            <tr>
                <th class="bg-light w-25">{{ item.marca }}</th>
                <input type="hidden" id="bebida" name="bebida" value="{{ item.marca }}">
                <input type="hidden" value="{{ item.id }}" name="idCardapio" id="idCardapio">
                
                <td class="text-center align-middle w-40 bg-light">
                    <select class="form-select text-center bg-light fw-bolder" id="tamanho_valor">
                        {% for tamanho in tamanhoBebida %}
                        {% if tamanho.marca_bebida_id == item.id %}
                        <option value="{{ tamanho.id }} |{{ tamanho.valor }}|{{ tamanho.tamanho }}">
                            {{ tamanho.tamanho }} - ${{ tamanho.valor | number_format(2, ',', '.') }}
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td class="text-center align-middle bg-light" style="width: 25%;">
                    <div class="enviarBebida">
                        <input type="button" class="text-center text-white fw-bolder" value="+" 
                            style="background-color: darkgreen; border-radius: 2px; border: black; width: 30px;">
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<body>

<script src="{{ url('/templates/comanda/assets/js/editarBebida.js') }}" defer></script>

{% endblock %}