{% extends 'base.html' %}
{% block conteudo %}

<body class="w-100" style="background-color: black;">

<div id="adicionarLanches" style="margin-bottom: 25px;">

    <header class="text-center" id="adicionarHeader" style="background-color: black;">
        <h3 class="text-white text-center" style="margin-top: 10px;">
        {% if editar.mesa != 0 %}
            Mesa: {{ editar.mesa }}
        {% else %}
            {% for item in entregas %}
            {% if item.id_mesa == editar.id_mesa %}
                Cliente: 
                <span style="color: chartreuse;"> 
                    {{ item.cliente }}
                </span>
                
                <input id="cliente"  value="{{ item.cliente }}" type="hidden" class="fw-bolder bg-light text-center" readonly>
            {% endif %}
            {% endfor %}
        {% endif %}
        </h3>
    </header>

    <div>
        <table>
            <form action="{{ url('atualizar/'~editar.chave) }}" method="post" class="bg-light" id="pedidos">

                {% for item in entregas %}
                {% if editar.id_mesa == item.id_mesa %}
                    <input type="hidden" name="controleDestino" id="controleDestino" value="{{item.tipo}}" class="bg-light">
                {% endif %}
                {% endfor %}

                <input value="{{ editar.mesa }}" id="mesa" name="mesa" type="hidden">

                <input type="hidden" value="{{ editar.id_mesa }} " id="id_mesa" name="id_mesa">

                <input value="0" id="idApagar" name="idApagar" type="hidden">
                <input value="0" id="idApagarAdicional" name="idApagarAdicional" type="hidden">

                <input type="hidden" id="idCardapio_adicional" name="idCardapio_adicional">
                <input type="hidden" id="tipo" name="tipo">

                <table class="table" id="tabelaPedidos">
                    <thead >
                        <tr>
                            <th scope="col" class="bg-light">ADICIONAL</th>
                            <th scope="col" class="text-center bg-light">PREÇO</th>
                            <th scope="col" class="text-center bg-light">EXCLUIR</th>
                        </tr>
                    </thead>

                    <tbody id="listaPedidos">
                        <tr>
                            <td class="nome_pedidoTd">
                                <div id="nome-adicional" style="font-weight: bolder;">
                                    {{ editar.nome_adicional }}
                                </div>
                            </td>

                            <td class="valor_pedidoTd">
                                <div id="valor-adicional" style="font-weight: bolder; color: blue;">
                                    ${{ editar.valor_adicional | number_format(2, ',', '.') }}
                                </div>
                            </td>
                    
                            <td class="apagarPedidoTd">
                                <a class="apagarPedido" href="{{url('atualizar/' ~ editar.chave)}}">
                                    <input type="hidden" name="apagar" id="apagar">
                                    <input type="hidden" name="controleAdicional" id="controleAdicional" value="controlAdicional">

                                    <button  style="background-color: darkred; border-radius: 2px; border: black; width: 30px;">
                                        <i class="fa-solid fa-trash" style="color: white;"></i>
                                    </button>                     
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center mt-3">
                    <input id="btnEnviarPedido" class="btn" type="submit" value="Editar" style="margin-bottom: 25px; background-color: blue; color: white; border-radius: 2px;">

                    <a href="javascript:history.back()" class="btn" type="button" style="margin-bottom: 25px; background-color: darkred; color: white; border-radius: 2px;">Voltar</a>
                </div>
            </form>
        </table>
    </div>

    <table class="table" id="adicionarTabela" style="margin-bottom: 20px;">
        <thead>
            <tr>
                <th scope="col" class="bg-light" style="width: 130px;">ADICIONAIS</th>
                <th scope="col" class="text-center bg-light" style="width: 200px;">PREÇO</th>
                <th scope="col" class="text-center bg-light" style="width: 100px;">ADD</th>
                <th scope="col" class="text-center bg-light" style="width: 100px;">REMOVER</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ingredientes %}
            <tr>
                <input value="{{ item.id }}" id="idAdicional" name="idAdicional" type="hidden">
                
                <th class="bg-light">
                    <span>{{ item.ingrediente }}</span>
                    <input type="hidden" id="nomeIngrediente" name="nomeIngrediente" value="{{ item.ingrediente }}">
                </th>
                <td class="text-center align-middle bg-light fw-bold" style="color: blue;">
                    <span> ${{ item.valor | number_format(2, ',', '.') }}</span>
                    <input type="hidden" value="{{ item.valor }}" id="valorIngrediente" name="valorIngrediente">
                </td>
                <td class="text-center align-middle bg-light">
                    <div class="enviarIngrediente">
                        <input type="button" class="text-center text-white fw-bolder" value="+"
                            style="background-color: darkgreen; border-radius: 2px; border: black; width: 30px;">
                    </div>
                </td>
                <td class="text-center align-middle bg-light" style="width: 25%;">
                    <div class="removerIngredienteBtns">
                        <input type="button" class="text-center text-white fw-bolder" value="-"
                            style="background-color: darkred; border-radius: 2px; border: black; width: 30px;">
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<body>

<script src="{{ url('/templates/comanda/assets/js/editar/editarAdicional.js') }}" defer></script>

{% endblock %}