@charset "UTF-8";

body{
    background-color: rgba(165, 42, 42, 0.048);
    
}

#menuComanda{
    background-image: linear-gradient(to right, darkred, black);
    padding: 10px;
}

#menuComanda a{
    margin-right: 30px;
}

#adicionarHeader{
    margin: 0px;
    padding: 10px;
} 

#nummesa{
    margin-top: 7px;
    width: 60px;
    height: 40px;
    border-radius: 5px;
}

/* Remove as setas apenas no input com a classe 'no-spin' */
#nummesa::-webkit-outer-spin-button,
#nummesa::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#nummesa {
  appearance: textfield;
}

#adicionarTabela{
    width: 95%; 
    margin: auto; 
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

#tabelaPedidos{
    width: 95%; 
    margin: auto; 
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

#editar{
    width: 90%; 
    margin: auto; 
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}


#adicionarLanches input{
    border-radius: 3px;
}

#btnEnvioIngredi:hover{
    background-color: chartreuse !important;
}

#editarLanche:hover{
    background-color: red !important;
}



#rodapeComanda{
    padding: 10px;
    background-image: linear-gradient(to right, darkred, black);
}

